{% extends "spike_stats/base.html" %}
{% block content %}
    {% for game in games %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ game.creator.profile.image.url }}" >
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ game.creator }}</a>
		      <small class="text-muted">{{ game.date_played }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ game.game }}</a></h2>
				<p class="article-content">{{ game.score }}</p>
				<p class="article-content">{{ game.winner }}</p>
		  </div>
		</article>
    {% endfor %}
{% endblock content %}